In [257]:
from pathlib import Path 
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd
from collections import OrderedDict
import sys
import os
import seaborn as sns

In [258]:
data_root = '/Volumes/Samsung_T5/MIT/mta'
#os.listdir(data_root)

In [259]:
services_file = 'scapijus01.txt'
meds_file  = 'medse01.txt'
end_treat_file = 'debrief1401.txt'

services = pd.read_csv(Path(data_root, services_file), delimiter='\t')
meds = pd.read_csv(Path(data_root, meds_file), delimiter='\t')
end_treat = pd.read_csv(Path(data_root, end_treat_file), delimiter='\t')

/var/folders/hf/frc4nxb532j7gqr3_36l6kmh0000gn/T/ipykernel_23351/2463623399.py:5: DtypeWarning: Columns (0,1,2,5,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599) have mixed types. Specify dtype option on import or set low_memory=False.
  services = pd.read_csv(Path(data_root, services_file), delimiter='\t')

In [260]:
services_dict = { 'adhd_mon_visits' : 'monyn', 
                 'sv_school_serv_any' : 'ynsvc', 
                 'sv_room_spc_educ' : 'yn12', 
                 'sv_day_long_spec_educ' : 'yn13', 
                 #'sv_occup_th' : 'yn13_1', #1
                 'sv_speech_lang_th' : 'yn71',
                 'sv_sec_school_adhd_ld': 'yn101', 
                 'sv_school_couns' : 'yn14', 
                 'sv_gr_th': 'yn62',
                 'sv_ind_th_1' : 'yn63',
                 #'sv_spec_help_classroom': 'yn11_1', 
                 'sv_after_school_treat_pg': 'yn24', 
                 'sv_spec_end_treat_adhd_ld_beh': 'yn51',
                 'sv_tut_non_par' : 'yn67', 
                 'sv_rem_summ_school' : 'yn93',
                 'sv_indiv_edu_plan' : 'yn65', 
                 'sv_school_serv_other': 'yn99',
                 'therapy_any': 'ynthe', 
                 'th_aa_na': 'yn1',
                 'th_mta_treat_pg': 'yn2',
                 'th_we_treat_pg': 'yn3',
                 'th_after_school_treat_pg': 'yn4', 
                 'th_soc_skills': 'yn5',
                 'th_recre' : 'yn6',
                 'th_drug': 'yn7', 
                 'th_group': 'yn8', 
                 'th_indiv:' : 'yn9',
                 'th_non_mda_summer_treat_pg': 'yn10', 
                 #'th_psyt_hosp': 'yn11_2', 
                 #'th_board_school': 'yn12_1', 
                 #'th_res_fam': 'yn13_2',
                 #'th_home_case_mang': 'yn14_1', 
                 #'th_24_7_treat' : 'yn15_1', 
                 'th_yth_shelter': 'yn16', 
                 'th_non_milit_bootcamp': 'yn17'}

In [261]:
services[services_dict['therapy_any']].dropna()
'adhd_mon_visits'
print('ADHD medication monitoring vistits any  :', (services[services_dict['adhd_mon_visits']] == 1).sum())
print('no ADHD medication monitoring vistits:', (services[services_dict['adhd_mon_visits']] == 2).sum())

print('any school service :', (services[services_dict['sv_school_serv_any']] == 1).sum())
print('no school service :', (services[services_dict['sv_school_serv_any']] == 2).sum())

print('any therapy : ', (services[services_dict['therapy_any']] == 1).sum())
print(' no therapy : ', (services[services_dict['therapy_any']] == 2).sum())

ADHD medication monitoring vistits any  : 278
no ADHD medication monitoring vistits: 0
any school service : 3059
no school service : 2675
any therapy :  1390
 no therapy :  4844

In [262]:
print(meds['mmdrug'].unique())

print('no drug:', (meds['mmdrug'] == 'No drug').sum())
print('Ritalin', (meds['mmdrug'] == 'Ritalin').sum())
print('Dexedrine', (meds['mmdrug'] == 'Dexedrine').sum())
print('Cylert', (meds['mmdrug'] == 'Cylert').sum())
print('Imipramine', (meds['mmdrug'] == 'Imipramine').sum())
print('Haldol', (meds['mmdrug'] == 'Haldol').sum())

['Name of Medication Prescribed at this Visit (i.e., for the next interval)'
 'No drug' 'Ritalin' 'Dexedrine' 'Cylert' 'Imipramine' nan 'Haldol'
 'Wellbutrin']
no drug: 169
Ritalin 2675
Dexedrine 283
Cylert 53
Imipramine 23
Haldol 4

In [263]:
print(services['src_subject_id'].unique().shape, meds['src_subject_id'].unique().shape,  end_treat['src_subject_id'].unique().shape)

(580,) (291,) (434,)

In [264]:
(meds['src_subject_id'] == 'P1007').sum()

13

In [265]:
for key, val in zip(services_dict.keys(), services_dict.values()):
    print(key, services[val].shape)

adhd_mon_visits (27309,)
sv_school_serv_any (27309,)
sv_room_spc_educ (27309,)
sv_day_long_spec_educ (27309,)
sv_speech_lang_th (27309,)
sv_sec_school_adhd_ld (27309,)
sv_school_couns (27309,)
sv_gr_th (27309,)
sv_ind_th_1 (27309,)
sv_after_school_treat_pg (27309,)
sv_spec_end_treat_adhd_ld_beh (27309,)
sv_tut_non_par (27309,)
sv_rem_summ_school (27309,)
sv_indiv_edu_plan (27309,)
sv_school_serv_other (27309,)
therapy_any (27309,)
th_aa_na (27309,)
th_mta_treat_pg (27309,)
th_we_treat_pg (27309,)
th_after_school_treat_pg (27309,)
th_soc_skills (27309,)
th_recre (27309,)
th_drug (27309,)
th_group (27309,)
th_indiv: (27309,)
th_non_mda_summer_treat_pg (27309,)
th_yth_shelter (27309,)
th_non_milit_bootcamp (27309,)

In [266]:
treat_group = end_treat[['src_subject_id', 'trtname']]
treat_group['trtname'].unique()
sub_m = treat_group.query("trtname == 'M'") #medi
sub_c = treat_group.query("trtname == 'C'") #'combined'
sub_p = treat_group.query("trtname == 'P'") # psychosocial

array(['Treatment group', 'C', 'M', 'P'], dtype=object)

In [267]:

# sub_A = treat_group.query("trtname == 'A'") # 
# sub_L = treat_group.query("trtname == 'L'")

In [268]:
print(sub_m.shape, sub_c.shape, sub_p.shape)
print(sub_m['src_subject_id'].unique().shape)

(144, 2) (145, 2) (144, 2)
(144,)

In [269]:
end_treat['sjtyp'].unique()

array(['Subject type', '1'], dtype=object)

In [270]:
for key, val in zip(services_dict.keys(), services_dict.values()):
    print(key, services[val].dropna().shape)

adhd_mon_visits (588,)
sv_school_serv_any (5735,)
sv_room_spc_educ (7763,)
sv_day_long_spec_educ (6236,)
sv_speech_lang_th (302,)
sv_sec_school_adhd_ld (90,)
sv_school_couns (7091,)
sv_gr_th (9,)
sv_ind_th_1 (9,)
sv_after_school_treat_pg (28,)
sv_spec_end_treat_adhd_ld_beh (275,)
sv_tut_non_par (1043,)
sv_rem_summ_school (91,)
sv_indiv_edu_plan (613,)
sv_school_serv_other (17,)
therapy_any (6235,)
th_aa_na (6235,)
th_mta_treat_pg (6235,)
th_we_treat_pg (6235,)
th_after_school_treat_pg (6235,)
th_soc_skills (6235,)
th_recre (6235,)
th_drug (6235,)
th_group (6235,)
th_indiv: (6235,)
th_non_mda_summer_treat_pg (6235,)
th_yth_shelter (6235,)
th_non_milit_bootcamp (6235,)

In [291]:
services[services_dict['adhd_mon_visits']].dropna().shape

(588,)

In [271]:
serv_m = pd.merge(sub_m, services, on ='src_subject_id')
serv_p = pd.merge(sub_p, services, on='src_subject_id')
serv_c = pd.merge(sub_c, services, on='src_subject_id')
print(serv_m.shape, serv_p.shape, serv_c.shape)

(6506, 604) (6946, 604) (7068, 604)

In [272]:
meds_m = pd.merge(sub_m, meds, on='src_subject_id')
meds_c = pd.merge(sub_c, meds, on='src_subject_id')
meds_p = pd.merge(sub_p, meds, on='src_subject_id')
print( meds_m.shape, meds_p.shape, meds_c.shape)

(1663, 52) (0, 52) (1767, 52)

In [273]:
#check if any overlapping subjects 
print(serv_m['src_subject_id'].isin(serv_p['src_subject_id']).sum())
print(serv_m['src_subject_id'].isin(serv_c['src_subject_id']).sum())
print(serv_p['src_subject_id'].isin(serv_c['src_subject_id']).sum())

0
0
0

### Med group

In [274]:
test_sub = 'P1003'
test_med = meds_m[meds_m['src_subject_id'] == test_sub]
test_serv = serv_m[serv_m['src_subject_id'] == test_sub]

In [275]:
test_m.keys()

Index(['src_subject_id', 'trtname_x', 'collection_id', 'medse01_id',
       'dataset_id', 'subjectkey', 'interview_date', 'interview_age', 'sex',
       'site', 'trtname_y', 'mmvnum', 'visityn', 'mmday', 'mmdrug', 'mmdose',
       'mmdaily', 'asispme', 'tics5', 'vocal', 'motor', 'simple', 'complex',
       'single', 'mult', 'facial', 'othtic', 'ptawar', 'parawar', 'ticsev',
       'se1anor', 'se2insom', 'se3sedat', 'se4irrit', 'se5dep', 'se6worry',
       'se7tics', 'se8pick', 'se9stom', 'se10head', 'se11suic', 'se12toxc',
       'se13hall', 'se14oth1', 'se15oth2', 'seseris', 'sedstrs', 'cmpengag',
       'cmpimple', 'cmpmotiv', 'cmpoverl', 'collection_title'],
      dtype='object')

In [276]:
test_m.sedstrs

0     2
1     2
2     3
3     2
4     2
5     1
6     2
7     2
8     2
9     2
10    2
11    2
12    1
Name: sedstrs, dtype: object

In [277]:
test_serv.keys()

Index(['src_subject_id', 'trtname', 'collection_id', 'scapijus01_id',
       'dataset_id', 'subjectkey', 'interview_date', 'interview_age', 'sex',
       'monthsbl',
       ...
       'glhitnum', 'glhitpc', 'glalthrs', 'glaltnm', 'glaladtn', 'glalldtn',
       'glalbetn', 'version_form', 'asssca', 'collection_title'],
      dtype='object', length=604)

In [278]:
test_serv[services_dict['sv_school_serv_any']].dropna().shape
test_serv[services_dict['therapy_any']].dropna().shape

(11,)

In [279]:
for key, val in zip( services_dict.keys(), services_dict.values()): 
    print(key , ' : ', test_serv[val].dropna().shape)

adhd_mon_visits  :  (0,)
sv_school_serv_any  :  (8,)
sv_room_spc_educ  :  (15,)
sv_day_long_spec_educ  :  (11,)
sv_speech_lang_th  :  (0,)
sv_sec_school_adhd_ld  :  (0,)
sv_school_couns  :  (12,)
sv_gr_th  :  (0,)
sv_ind_th_1  :  (0,)
sv_after_school_treat_pg  :  (0,)
sv_spec_end_treat_adhd_ld_beh  :  (0,)
sv_tut_non_par  :  (0,)
sv_rem_summ_school  :  (0,)
sv_indiv_edu_plan  :  (3,)
sv_school_serv_other  :  (0,)
therapy_any  :  (11,)
th_aa_na  :  (11,)
th_mta_treat_pg  :  (11,)
th_we_treat_pg  :  (11,)
th_after_school_treat_pg  :  (11,)
th_soc_skills  :  (11,)
th_recre  :  (11,)
th_drug  :  (11,)
th_group  :  (11,)
th_indiv:  :  (11,)
th_non_mda_summer_treat_pg  :  (11,)
th_yth_shelter  :  (11,)
th_non_milit_bootcamp  :  (11,)

In [280]:
test_serv['monyn']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    NaN
37    NaN
38    NaN
39    NaN
40    NaN
Name: monyn, dtype: object