In [4]:
import os
import pandas as pd

# Define the directory to search
directory = '/Volumes/Samsung_T5/MIT/mta'
import warnings

with warnings.catch_warnings():
    warnings.filterwarnings("ignore")
# Loop through all files in the directory
    for filename in os.listdir(directory):
        # Check if the file has a .txt extension
        if filename.endswith(".txt")and not filename.startswith("."):
            # Construct the full file path
            filepath = os.path.join(directory, filename)
            
            try:
                # Load the file with pandas, using tab as the delimiter
                df = pd.read_csv(filepath, delimiter="\t")
                
                # Check if the 'trtname' column exists
                if 'trtname' in df.columns:
                    print(f"File: {filename}")
                    
                    # Drop NaN values from the 'trtname' column and print the shape
                    column_shape = df['trtname'].dropna().shape
                    print(f"Shape after dropna(): {column_shape}")
                del df
            except Exception as e:
                print(f"Error processing file {filename}: {e}")
        
        # Clear memory by deleting the dataframe object
        

# Perform garbage collection to ensure memory is cleared
import gc
gc.collect()

File: debrief1401.txt
Shape after dropna(): (434,)
File: medse01.txt
Shape after dropna(): (3432,)
File: diagpsx_p201.txt
Shape after dropna(): (2,)
File: diagpsx_p301.txt
Shape after dropna(): (1,)
File: diagpsx_p401.txt
Shape after dropna(): (1,)
File: diagpsx_p501.txt
Shape after dropna(): (1,)
File: diagpsx_p601.txt
Shape after dropna(): (1,)
File: diagpsx_p701.txt
Shape after dropna(): (1,)
File: diagpsx01.txt
Shape after dropna(): (5341,)
Error processing file mta_pav01.txt: Error tokenizing data. C error: Expected 757 fields in line 21372, saw 1388

Error processing file mta_schiz01.txt: Error tokenizing data. C error: Expected 431 fields in line 6335, saw 680

Error processing file pe01.txt: Error tokenizing data. C error: Expected 340 fields in line 6333, saw 375

File: schoolhx01.txt
Shape after dropna(): (869,)

0

In [63]:
from pathlib import Path 

file_name = 'debrief1401.txt'
file_name2 = 'medse01.txt'
file_name3 = 'diagpsx01.txt'
file_name4 = 'schoolhx01.txt'
file = pd.read_csv(Path(directory, file_name), delimiter="\t" ,usecols=['src_subject_id', 'trtname'])
file2 = pd.read_csv(Path(directory, file_name2), delimiter="\t",usecols=['src_subject_id', 'trtname'])
file3 = pd.read_csv(Path(directory, file_name3), delimiter="\t",usecols=['src_subject_id', 'trtname'])
file4 = pd.read_csv(Path(directory, file_name4), delimiter="\t",usecols=['src_subject_id', 'trtname'])

/var/folders/hf/frc4nxb532j7gqr3_36l6kmh0000gn/T/ipykernel_11290/1213211517.py:9: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  file3 = pd.read_csv(Path(directory, file_name3), delimiter="\t",usecols=['src_subject_id', 'trtname'])
/var/folders/hf/frc4nxb532j7gqr3_36l6kmh0000gn/T/ipykernel_11290/1213211517.py:10: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  file4 = pd.read_csv(Path(directory, file_name4), delimiter="\t",usecols=['src_subject_id', 'trtname'])

In [64]:
print(file.shape, file2.shape, file3.shape, file4.shape)

(434, 2) (3432, 2) (14912, 2) (2879, 2)

In [65]:
print(file['src_subject_id'].unique().shape,file2['src_subject_id'].unique().shape,file3['src_subject_id'].unique().shape,file4['src_subject_id'].unique().shape )
print(file['trtname'].unique(), file2['trtname'].unique(),file3['trtname'].unique(), file4['trtname'].unique())

(434,) (291,) (870,) (869,)
['Treatment group' 'C' 'M' 'P'] ['Treatment group' 'C' 'M'] ['Treatment group' nan 'L' 'C' 'M' 'A' 'P'] ['Treatment group' 'L' 'C' 'M' 'A' 'P' nan]

In [66]:
first_entries = file.groupby('src_subject_id').first().reset_index()
first_entries2 = file2.groupby('src_subject_id').first().reset_index()
first_entries3 = file3.groupby('src_subject_id').first().reset_index()
first_entries4 = file4.groupby('src_subject_id').first().reset_index()
print(first_entries.shape, first_entries2.shape, first_entries3.shape, first_entries4.shape)
print(first_entries3['trtname'].unique())

(434, 2) (291, 2) (869, 2) (869, 2)
['L' 'C' 'M' 'A' 'P' 'Treatment group']

In [34]:
merge1 = pd.merge(first_entries, first_entries2, how='outer', on='src_subject_id')

In [35]:
merge1['src_subject_id'].unique().shape

(435,)

In [46]:
merge2 = pd.merge(merge1, first_entries3, how='outer', on='src_subject_id')

In [47]:
merge2['src_subject_id'].unique().shape

(869,)

In [48]:
merge2.trtname.unique()

array(['L', 'C', 'M', 'A', 'P', 'Treatment group'], dtype=object)

In [68]:
merge3 = pd.merge(merge1, first_entries4, how='outer', on='src_subject_id')

In [60]:
merge2['trtname'].dropna()
trtname = merge2[['src_subject_id', 'trtname']]
trtname.value_counts(trtname['trtname'])

trtname
L                  289
A                  146
C                  145
M                  144
P                  144
Treatment group      1
Name: count, dtype: int64

In [62]:
#trtname.to_csv(Path(directory, 'treatment_groups.csv'), index=False)

In [71]:
(merge3['trtname'].dropna()== merge2['trtname'].dropna()).sum()

869